@import './variables.less';

::-webkit-scrollbar {
  width: 8px;
}


.ant-progress-circle-path { stroke: #13ECAB !important }

::-webkit-scrollbar-thumb {
  background: #f1f1f2;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 530px;
}


.ant-progress{
  background:#1B2028 !important;
}

.flex {
  display: flex;
}

.farm .btncontainer{
  position:relative
}

@media (max-width: 500px){
 

.farm .btncontainer{
  display:none !important
} 
}

a{
    color: #13ECAB;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    color: #13ECAB !important;
    border-bottom: 2px solid #13ECAB !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
  background-color: #13ECAB !important;
}


.fc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-head {
  margin-top: 20px;
  margin-bottom: 40px;
  position:relative;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    z-index: 2;
    background: #1B2028;
    padding-left: 15px;
    position: relative;
  }

  &::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: #444A58;
    left: 0;
    top: 50%;
    z-index: 1;
  }

  .buttons {
    display: flex;
    vertical-align: middle;
    padding-right: 15px;
    background: #1B2028;
    z-index: 2;
    position: relative;


    .anticon {
      font-size: 20px;
    }

    .ant-progress {
      line-height: 1;
      position: relative;
      top: 1px;
    }

    .ant-progress.disabled {
      cursor: not-allowed;
    }

    .anticon,
    .ant-progress {
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #1B2028;
      }
    }
    a {
      color: @text-color;
    }
  }
}

.card {

  .card-body {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 12px;
    padding: 37px;
    background-color: #1B2028;
    opacity: 1;
    border-radius: 0;

    > .fs-container{
      display: unset;
      align-items: unset;
      justify-content: unset;
      text-align: center;
    }

    .buttons{
      display: inline-block;
      line-height: 32px;

      i{
        font-size:20px;
        margin-right:14px;
        position:relative;
        top:4px;
        color:#13ECAB
      }
    }



  }
}

.lp-icons {
  display: flex !important;
  align-items: center;

  .icons {
    display: flex;
    flex-direction: row;

    img {
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }
}

.ant-menu-horizontal,
.ant-layout-header,
.ant-layout-footer{
  background:#000 !important;
}

.nofooter .ant-modal-footer{
  display:none !important
}

.ant-menu-horizontal > .ant-menu-item > a:hover{
  color:#13ECAB !important
}

.ant-tooltip-inner {
  display: inline-block;
  background: #1B2028 !important;

  p {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: @text-color;
  }

  .swap-info {
    font-size: 12px;
    line-height: 20px;
    color: @text-color;

    .info {
      display: grid;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;
      gap: 10px;
      grid-template-columns: minmax(auto, 1fr) auto auto;

      .symbol {
        opacity: 0.75;
      }

      .address {
        padding: 2px 4px;
        background: @bg-color;
        border-radius: 4px;
        opacity: 0.75;
      }

      .action {
        font-size: 16px;

        i {
          cursor: pointer;

          &:hover {
            color: #13ECAB !important;
          }
        }

        a {
          color: @text-color;
        }
      }
    }
  }
}

.ant-pagination-item,
.ant-pagination-item-link {
  background: transparent !important;
}


.ant-btn:hover, .ant-btn:focus,
.coin-select .coin-input .input-button{
    color: #13ECAB !important;
}

